<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.ptjob_company">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".com.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".com.Activty.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".com.Activty.RegistryActivity"/>

        <activity android:name=".com.Activty.PersonInfoActivity"/>

        <activity android:name=".com.Activty.ReleaseActivity"/>

        <activity android:name=".com.Activty.SelectionAddressActivity"/>

        <activity android:name=".com.Activty.ChangePasswordActivity"/>

        <activity android:name=".com.Activty.ChangeDescriptionActivity"/>

        <activity android:name=".com.Activty.OnRunInfoActivity"/>

        <activity android:name=".com.Activty.PluralityDetailActivity"/>

        <activity android:name=".com.Activty.ShowBriefPlurInfoActivity"/>

        <activity android:name=".com.Activty.ShowPlurDetailActivity"/>

        <activity android:name=".com.Activty.TimeoutInfoActivity"/>

        <activity android:name=".com.Activty.ShowTimeout_PlurInfoActivity"/>

        <activity android:name=".com.Activty.ChatMainActivity"/>

        <activity android:name=".com.Activty.ChatActivity"/>

        <activity android:name=".com.Activty.AddFriendActivity"/>

        <activity android:name=".com.Activty.FriendActivity"/>

        <activity android:name=".com.Activty.FriendRequestActivity"/>

        <activity android:name=".com.Activty.NewFriendActivity"/>

        <activity android:name=".com.Activty.MActivity" />

        <activity android:name=".com.Activty.ChooseActivity"/>

        <service android:name=".com.Server.CommunicationServer" />

    </application>

</manifest>